<div class="main-content">
    <div class="banner">
        <div class="row">
            <div class="container">
                <div class="text-center bannerDetails">
                    <h1 style="color: #fff;"><b>Inspirational Technologies</b></h1>
                    <h4 style="color: #fff;">Organizing Local Events, Raising Awareness, and
                        Providing Support To The Less Fortunate in The Greater Toronto Area</h4>
                    <p style="color: #fff;">Organizing Local Events, Raising Awareness, and
                        Providing Support To The Less Fortunate in The Greater Toronto Area</p>
                    <button class="btn btn-info">Get Started</button>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutus">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="col-md-6">
                    <img src="assets/img/about.jpg" class="imgaboutus" alt="">
                </div>
                <div class="col-md-6">
                    <h2>
                        Hi, we are Rhombus
                    </h2>
                    <p>A paragraph is a series of related sentences developing a central idea, called
                        the
                        topic.
                        Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group
                        of
                        sentences that supports one central, unified idea. Paragraphs add one idea at a time to your
                        broader
                        argument. </p>
                    <p> A paragraph is a series of related sentences developing a central idea, called the topic. Try to
                        think
                        about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences
                        that
                        supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
                    </p>
                    <p>We are here
                        to remind one another that no matter what our current situation may be, we are all in this
                        together.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>Our Services</h2>
                </div>
            </div>
            <div class="text-center">
                <div class="col-md-3">
                    <div class="icon">
                        <i class="fa fa-bandcamp" aria-hidden="true"></i>
                    </div>
                    <h4>Bend Icon </h4>
                    <p>This is Bend Icon </p>
                </div>
                <div class="col-md-3">
                    <div class="icon">
                        <i class="fa fa-ravelry" aria-hidden="true"></i>
                    </div>
                    <h4>Ravelry Icon</h4>
                    <p>This is Ravelry Icon </p>
                </div>
                <div class="col-md-3">
                    <div class="icon">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </div>
                    <h4>Bar Icon</h4>
                    <p>This is Bar Icon </p>
                </div>
                <div class="col-md-3">
                    <div class="icon">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </div>
                    <h4>Cog Icon </h4>
                    <p>This is Cog Icon </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bannercolor">
        <div class="text-center">
            <h4>
                Hi We are Rohmbus
            </h4>
        </div>
    </div>
    <div class="clients">
        <div class="text-center">
            <h2>Our Clients</h2>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <img src="assets/img/clients/client-1.png" class="clientsimg" alt="">
            </div>
            <div class="col-md-2 text-center">
                <img src="assets/img/clients/client-2.png" class="clientsimg" alt="">
            </div>
            <div class="col-md-2 text-center">
                <img src="assets/img/clients/client-3.png" class="clientsimg" alt="">
            </div>
            <div class="col-md-2 text-center">
                <img src="assets/img/clients/client-4.png" class="clientsimg" alt="">
            </div>
            <div class="col-md-2 text-center">
                <img src="assets/img/clients/client-5.png" class="clientsimg" alt="">
            </div>
            <div class="col-md-2 text-center">
                <img src="assets/img/clients/client-6.png" class="clientsimg" alt="">
            </div>

        </div>
    </div>
    <div class="banner2">
        <div class="container">
            <div class="row bannerdata">
                <div class="text-center">
                    <div class="col-md-3">
                        <div class="icon">
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                        </div>
                        <span class="count" id="value1">62000</span>
                        <p class="coutername">Happy Clients</p>
                    </div>
                </div>
                <div class="text-center">
                    <div class="col-md-3">
                        <div class="icon">
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                        </div>
                        <span class="count" id="value2">246000</span>
                        <p class="coutername">Happy Developer</p>
                    </div>
                </div>
                <div class="text-center">
                    <div class="col-md-3">
                        <div class="icon">
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                        </div>
                        <span class="count" id="value3">1200</span>
                        <p class="coutername">Backend Developer</p>
                    </div>
                </div>
                <div class="text-center">
                    <div class="col-md-3">
                        <div class="icon">
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                        </div>
                        <span class="count" id="value4">12000</span>
                        <p class="coutername">Php Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="teams">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Our Teams</h2>
                    </div>
                </div>
                <div class="text-center">
                    <div class="col-md-3">
                        <img class="teamimg" src="assets/img/team/team-4.jpg" alt="">
                        <div class="text-left">
                            <h4>Sania Malhotra</h4>
                            <p>Senior Developer</p>
                            <button class="btn btn-default">View profile</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img class="teamimg" src="assets/img/team/team-1.jpg" alt="">
                        <div class="text-left">
                            <h4>Varun Grover</h4>
                            <p>Senior Developer</p>
                            <button class="btn btn-default">View profile</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img class="teamimg" src="assets/img/team/team-2.jpg" alt="">
                        <div class="text-left">
                            <h4>Keishnan Deva</h4>
                            <p>Full Stack Developer</p>
                            <button class="btn btn-default">View profile</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img class="teamimg" src="assets/img/team/team-3.jpg" alt="">
                        <div class="text-left">
                            <h4>Ravimesh Maheshweri</h4>
                            <p>Frontend Developer</p>
                            <button class="btn btn-default">View profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Testimonials</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <img class="testmimg" src="assets/img/testimonials/testimonials.jpg" alt="">
                        <p>A paragraph is a series of related sentences developing a central idea, called the topic. Try
                            to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group
                            of sentences that supports one central, unified idea. Paragraphs add one idea at a time to
                            your broader argument.A paragraph is a series of related sentences developing a central
                            idea, called the topic. Try
                            to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group
                            of sentences that supports one central, unified idea.</p>
                        <p> Paragraphs add one idea at a time to
                            your broader argument.</p>
                        <h3 class="author">Paragraphs</h3>
                        <h5>Software Developer</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>