<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">About Us</h5>
                <p>A paragraph is a series of related sentences developing a central idea, called
                    the
                    topic.
                    Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group
                    of
                    sentences that supports one central, unified idea. Paragraphs add one idea at a time to your
                    broader
                    argument. </p>
                <p> A paragraph is a series of related sentences developing a central idea, called the topic. Try to
                    think
                    about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences
                    that
                    supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
                </p>
                <p>We are here
                    to remind one another that no matter what our current situation may be, we are all in this
                    together.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="text-left">
                    <h5 class="text-uppercase">Menu</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="author" href="#!">Home</a>
                        </li>
                        <li>
                            <a class="author" href="#!">About Us</a>
                        </li>
                        <li>
                            <a class="author" href="#!">Our Services</a>
                        </li>
                        <li>
                            <a class="author" href="#!">Our Clients</a>
                        </li>
                        <li>
                            <a class="author" href="#!">Our Teams</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Contact Us</h5>
                <form>
                    <input type="text" class="form-control" placeholder="full name"><br>
                    <input type="email" class="form-control" placeholder="email"><br>
                    <textarea name="" class="form-control" id="" cols="30" rows="5"></textarea><br>
                    <div class="text-center">
                        <button class="btn btn-info">Contact Us</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <br>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="">Comapany Name</a>
    </div>
</footer>